[submodule "packages/flutter_drawing_board"]
	path = packages/flutter_drawing_board
	url = git@github.com:shiyuann/flutter_drawing_board.git
[submodule "packages/serious-python"]
	path = packages/serious-python
	url = git@github.com:bladeart-ai/serious-python.git
